* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: #ffeaa7;
}

section {
  background-color: #e7e7e7;
  border: 2px outset #efefef;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: space-around;
  min-width: 225px;
  min-height: 100px;
  width: 31vw;
  height: fit-content;
}

h2 {
  margin: 10px 15px;
  font-size: 30px;
}

.addBtn {
  /* need block status for "margin: 0 auto;" */
  display: block;
  margin: 0 auto;
  width: 95%;
  min-height: 5vh;
  background-color: #e7e7e7;
  color: #555555;
  border-radius: 5px;
  border-style: hidden;
  font-size: 20px;
  transition-duration: 0.4s;
}
.addBtn span::before {
  content: "+ ";
  font-size: 25px;
}
.addBtn:hover {
  background-color: #d6d6d6;
  color: #333333;
}

#todo {
}

#doing {
}

#done {
}

.invalid {
  border-color: red;
}

.hidden {
  display: none;
}
